/* imports default tailwind css styles */
@tailwind base; 
@tailwind components;
@tailwind utilities;

/* import fonts */
@layer base {
  @font-face {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/KronaOne-Regular.ttf');
  }
  @font-face {
    font-family: 'Metrophobic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Metrophobic-Regular.ttf');
  }
}

